version: '3.8'

services:
  vulnerable-app:
    build: ./app
    container_name: flask-vulnerable-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./app:/app
    restart: unless-stopped
